.container {
  width: 380px !important;
}
.row {
  margin-bottom: 0px !important;
}
div {
  font-size: 14px;
}
.selected {
  fill: #3399CC !important;
}
.not-selected {
  fill: #CCCCCC;
}
.tick {
  stroke: none;
}
.domain {
  stroke: none;
}
line {
  stroke: none;
}
.d3-tip {
  line-height: 1;
  background: rgba(255, 255, 255, 0.8);
  color: #999999;
  font-size: 12px;
}
/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}